{% extends 'base_login.html' %}
{% load static %}

{% block content %}

<!-- Masthead-->
        <header class="masthead">
            <div class="container h-30">
                <div class="row h-30 align-items-center justify-content-center text-center">
                    <div class="col-lg-10">
                        <h1 class="text-uppercase text-white font-weight-bold">Bonjour</h1>
                        <h2 class="text-uppercase text-white font-weight-bold">{{ username }}</h2>
                        <hr class="divider my-4" />
                            <div class="col-lg-8 text-center">
                            <p class="text-uppercase text-white font-weight-bold">Your email : {{ user.email }} </p>
                            </div>
                    </div>
                </div>
            </div>
        </header>

{% endblock %}