{% extends 'base.html' %}
{% load static %}

{% block content %}


        <!-- Masthead-->
<header class="masthead" style="min-height: 20rem; height: 30vh;">
    <div class="container h-30">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Résultat de la recherche : {{ search_products }}</h1>
                <hr class="divider my-4" />
            </div>
        </div>
    </div>
</header>

<section class="page-section p-4" id="aliments">
         {% if products|length_is:"0" %}
        <div class="row">
            <div class="text-center">
             <p class="text-muted"> Dommage, aucun aliment ne correspond à votre recherche </p>
            </div>
        </div>
        {% else %}
        <div class="row text-center m-1 p-1">
            {% for product in products %}
            <div class="col-sm-4 text-center">
                <p>{{ product.product_name }}</p>
                <a href="{% url 'products:detail' product_id=product.id %}">
                <img class="img-responsive" src="{{ product.url_picture_small }}" alt="{{ product.product_name }}">
                </a>
             </div>
            {% if forloop.counter|divisibleby:3 %}<div class="clearfix"></div>{% endif %}
            {% endfor %}
        </div>
        {% endif %}
</section>

{% endblock %}