{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Masthead-->
        <section class="page-section" id="services">
            <div class="container">
                <h2 class="text-center mt-0">Résultat de la recherche : {{ search_products }}</h2>
                <hr class="divider my-4" />
                {% if products|length_is:"0" %}
                <div class="row">
                    <div class="text-center">
                     <p class="text-muted"> Palsambleu ! Nous n'avons trouvé aucun résultat à cette requête. Même pas de quoi se ronger la chique !
                      Partez de nouveau à l'abordage ! </p>
                    </div>
                </div>
                {% else %}
                    {% for product in products %}
                    <div class="col-sm-4 text-center">
                        <p>{{ product.product_name }}</p>
                        <a href="{% url 'products:detail' product_id=product.id %}">
                        <img class="img-responsive" src="{{ product.url_picture_small }}" alt="{{ product.product_name }}">
                        </a>
                     </div>
                    {% if forloop.counter|divisibleby:3 %}<div class="clearfix"></div>{% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </section>


{% endblock %}