{% extends 'base.html' %}
{% load static %}

{% block content %}


<header class="masthead" style="background: url('{{ substitute.url_picture }}'); min-height: 20rem; height: 30vh;">
    <div class="container h-30">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">{{ substitute.product_name }}</h1>
                <hr class="divider my-4" />
            </div>
        </div>
    </div>
</header>

<section class="page-section p-4" id="informations">
    <div class="container">
        <div class="row text-center m-1 p-1">
            <div class="col-6 text-center">
                <p> Nutriscore </p>
                <p> {{ nutriscore }}</p>
            </div>
            <div class="col-6 text-left">
                <p> Description :
                    {% if substitute.description %}
                    {{ substitute.description }}
                    {% else %}
                    Indisponible
                    {% endif %}
                </p>
             </div>
        </div>
        <div class="row text-center m-1 p-1">
            <div class="col-12 text-center">
            <a class="d-block" href="{{ substitute.url_product }}" style="color:blue;">Voir la fiche d'OpenFoodFacts</a>
            </div>

        </div>
    </div>
</section>

{% endblock %}